<form action="/login" method="POST">
  <input type="text" name="username" value="username">
  <input type="password" name="password" placeholder="The password is password">
  <button type="submit">submit</button>
</form>